@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

* {margin: 0; padding: 0; box-sizing: border-box;}
body {font-family: 'Raleway', sans-serif;  overflow-x: hidden; font-size: 14px;}
ul {list-style-type: none; padding: 0; margin: 0;}
a {text-decoration: none;}
hr {color: #999;}
del {color: #aaa;}
::selection {background: tomato; color: #fff;}
button {border: none; background: none;}
section {padding: 25px 0;}

            /* codes for message box */
#message_box_wrapper {position: fixed; bottom: 0; right: 5%; z-index: 5;}
#message_box_wrapper .icon {background: #fff; padding: 10px 20px; font-size: 17px; box-shadow: 0 0 2px #0d7494; color: #0d7494;}
#message_box_wrapper .message_box {background: #fff; position: absolute; bottom: 0; right: 0; width: 600px; height: 400px; box-shadow: 0 0 10px #ddd; display: none;}
#message_box_wrapper .message_box h6 {padding: 10px 20px; border-bottom: 1px solid #eee; background: #fff;}
#message_box_wrapper .message_box .left_box {width: 30%; float: left; background: #f3f3f9; height: 100%; border-right: 1px solid #eee;}
#message_box_wrapper .message_box .left_box .chats {padding: 10px;}
#message_box_wrapper .message_box .right_box {width: 70%; float: right;}
#message_box_wrapper .message_box .right_box .chat_alert {padding: 0px 50px; text-align: center; padding-top: 15%;}
#message_box_wrapper .message_box .right_box .chat_alert .bi-envelope-fill {font-size: 40px; color: #aaa; margin-bottom: 20px;}
#message_box_wrapper .message_box .right_box .chat_alert a {color: #199CC4; text-decoration: underline;}
#message_box_wrapper .message_box .right_box .chat_alert .reg a {color: #0d7494; text-decoration: none;}

            /* codes for topBar */
#topBar {background: #eee;}
#topBar ul {display: flex; padding: 5px 0; justify-content: end;}
#topBar ul li a {padding: 10px; color: tomato;}
#topBar .app_banner {background: #f9f9f9; padding: 5px; justify-content: space-around; display: none;}
#topBar .app_banner img {width: 30px; height: 30px; background: aqua; padding: 5px; border-radius: 5px; align-self: center;}
#topBar .app_banner p {color: tomato; align-self: center; margin: 0; padding: 5px; font-size: 10px;}
#topBar .app_banner a {background: tomato; color: #fff; padding: 5px 10px; border-radius: 20px; align-self: center; font-size: 10px;}

/* codes for mobile nav section */
#mobile_nav {position: fixed; bottom: 0; left: 0; width: 100%; background: #fff; border-top: 1px solid #F57224; display: none; justify-content: space-around; font-size: 20px; z-index: 15;}
#mobile_nav .mobile_nav_item {color: #F57224; align-self: center; margin: 10px;}
#mobile_nav .mobile_nav_active {font-size: 14px; box-shadow: inset 0 0 10px #eee; padding: 5px 10px; border-radius: 10px;}

            /* codes for header section */
header {background: #fff; position: sticky; left: 0; top: 0; box-shadow: 0 2px 5px #ddd; z-index: 10;}
header .container {display: flex; justify-content: space-between;}
header .header_logo {width: 150px; padding: 10px;}
header .header_search_wrapper {display: flex; width: 60%; padding: 10px; align-self: center;}
header .header_search_wrapper input {width: 100%; border: none; outline: none; background: #f5f5f5; padding: 10px;}
header .header_search_wrapper .search_button {width: 40px; height: 40px; font-size: 18px; padding: 5px; text-align: center; background: #F57224; color: #fff; border-radius: 0 5px 5px 0;}
header .cart_button {align-self: center; padding: 10px;}
header .cart_button a {color: #333; font-size: 30px;}
header .getApp {align-self: center; padding: 10px;}
header .cat_btn {padding: 0 10px 10px;}
/* category */
header #category {background: #fff; width: 100px; height: auto; position: absolute; top: 100%; left: 10px; display: none;}
header #category.show {display: block;}
header #category ul {overflow: scroll; cursor: auto; height: 200px;}
header #category ul::-webkit-scrollbar {display: none;}
header #category .main_menu {height: 100%; position: relative; box-shadow: 0 0 5px #ddd;}
header #category .main_menu ul li {padding: 10px; cursor: pointer;}
header #category .main_menu ul li span {color: #F57224; transform: translateX(-10px); opacity: 0; transition: all 0.5s;}
header #category .main_menu ul li:hover span {transform: translateX(0px); opacity: 1;}
header #category .main_menu ul li:hover .sub_menu {display: block;}
header #category .main_menu ul li .sub_menu {position: absolute; background: #fff; width: 100%; height: 100%; left: 100%; top: 0; box-shadow: 0 0 5px #ddd; display: none;}
header #category .main_menu ul li .sub_menu ul li {cursor: pointer; font-size: 13px;}
header #category .main_menu ul li .sub_menu ul li span {color: #F57224; transform: translateX(-10px); opacity: 0; transition: all 0.5s;}
header #category .main_menu ul li .sub_menu ul li:hover span {transform: translateX(0px); opacity: 1;}
header #category .main_menu ul li .sub_menu ul li:hover .links {display: block;}
header #category .main_menu ul li .sub_menu ul li .links {position: absolute; background: #fff; width: 100%; height: 100%; left: 100%; top: 0; box-shadow: 0 0 5px #ddd; display: none;}
header #category .main_menu ul li .sub_menu ul li .links ul li a {color: #333;}
header #category .main_menu ul li .sub_menu ul li .links ul li a:hover {color: tomato;}

            /* codes for nav section */
nav {background: #fff; border: 1px solid #F57224; width: 120px; position: fixed; right: 20px; top: 150px; z-index: 5;}
nav ul li a {color: #F57224; font-size: 16px; padding: 5px; display: block; text-align: center;}
nav ul li a.active {background: #F57224; color: #fff;}

            /* codes for main section */
section .title {text-align: center;}
section .title h2 {display: inline-block; font-weight: bold; color: #0d7494; position: relative; font-family: calibri; margin: 20px;}
section .title h2::before {content: ""; width: 20px; height: 5px; background: #F57224; position: absolute; left: -30px; top: 50%; transform: translateY(-50%); border-radius: 50%;}
section .title h2::after {content: ""; width: 20px; height: 5px; background: #F57224; position: absolute; right: -30px; top: 50%; transform: translateY(-50%); border-radius: 50%;}
section .product_wrapper {display: flex; justify-content: space-between; flex-wrap: wrap;}
section .product_wrapper .product {width: 16%; border-radius: 10px; overflow: hidden; margin: 10px 0; position: relative;}
section .product_wrapper .product .off_perc {background: url(../img/categories/off_perc_bg.png); background-repeat: no-repeat; background-size: cover; display: inline-block; padding: 0px 10px; color: #fff; position: absolute; z-index: 1; right: 0; top: 0;}
section .product_wrapper .product .img_wrapper {text-align: center; position: relative; border: 1px solid #00000008;}
section .product_wrapper .product .img_wrapper img {width: 80%; height: 160px;}
section .product_wrapper .product .img_wrapper .overlay {background: #00000030; width: 100%; height: 100%; position: absolute; top: 0; left: 0; display: none;}
section .product_wrapper .product:hover .img_wrapper .overlay {display: block;}
section .product_wrapper .product .desc {margin: 10px 0; height: 42px; overflow: hidden;}
section .product_wrapper .product .price {color: #F57224; font-size: 20px;}
section .product_wrapper .product .addToCart {color: #1F8069; background: #eee; width: 100%; display: block; padding: 5px; text-align: center; font-weight: bold; margin-top: 10px; transition: all 0.3s;}
section .product_wrapper .product .addToCart:hover {color: #eee; background: #1F8069;}

            /* codes for footer section */
/* footer links */
#footer_links {background: #2E2E54; padding: 25px 0; color: #fff;}
#footer_links a {color: #f2f2f2;}
#footer_links a:hover {text-decoration: underline;}
#footer_links .app_download {margin-top: 20px;}
#footer_links .app_download img.qr_for_app {width: 120px; border-radius: 5px; float: left; margin-right: 20px;}
#footer_links .app_download .item {color: #F57224; margin-top: 20px;}
#footer_links .app_download .item img {width: 40px; padding: 5px; background: aqua;border-radius: 5px; margin-bottom: 10px;}
#footer_links .app_download ul {display: flex; margin-top: 20px;}
#footer_links .app_download ul li {width: 25%; padding-right: 20px;}
/* footer payments */
#footer_payments {background: #fff; padding: 20px 0;}
#footer_payments h5 {margin-bottom: 20px;}
#footer_payments ul {display: flex;}
#footer_payments ul li {padding-right: 15px;}
#footer_payments ul li a {color: #F57224; font-size: 25px;}

            /* codes for responsive */
/* for tablet */
@media screen and (max-width: 768px) {
 
#topBar ul {display: none;}
#topBar .app_banner {display: flex;}
#message_box_wrapper {z-index: 10;}
header .getApp {display: none;}
section .product_wrapper .product {width: 32%;}
    
}

@media screen and (max-width: 500px) {
 
#message_box_wrapper {display: none;}
#mobile_nav {display: flex;}
header .cart_button {display: none;}
header .cat_btn {display: none;}
nav {display: none;}
section .product_wrapper .product {width: 48%;}
footer {padding-bottom: 25px;}
    
}